name: GitHub-Profile-3D-Contrib
on:
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v2
      - uses: yoshi389111/github-profile-3d-contrib@0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: config/rainbow.json
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github@fundor333.com
          git add -A .
          git commit -m "generated"
          git push
